{{#each list.groups as |group|}}
  <section class="entry-group it-entry-group">
    <header class="entry-group-header">
      <h2 class="entry-group-header-title">{{if group.project.name group.project.name "No project"}}</h2>
      <div class="entry-group-header-duration it-entry-group-duration">
        {{format-duration (if rounding group.roundedDurationInSeconds group.durationInSeconds)}}
      </div>
    </header>
    <ul class="entry-group-item-list">
      {{#each group.entries as |entry|}}
        {{show-entry
          entry=entry
          rounding=rounding
          didDeleteEntry=(action "didDeleteEntry")
          didUpdateEntry=(action "didUpdateEntry")
          searchProjects=searchProjects
          groupedBy="project"
        }}
      {{/each}}
    </ul>
  </section>
{{/each}}
