<div class="header-user-summary-section it-user-summary-section">
  <span class="header-user-summary-label">This week</span>
  <span class="header-user-summary-duration it-user-summary-duration">{{format-duration entryThisWeek.durationInSeconds}}</span>
</div>
<div class="header-user-summary-section it-user-summary-section">
  <span class="header-user-summary-label">This month</span>
  <span class="header-user-summary-duration it-user-summary-duration">{{format-duration entryThisMonth.durationInSeconds}}</span>
</div>