/* fonts */
$font-family: "Lucida Grande", Arial, sans-serif;
$fs-lg: 1.1em;
$fs-xl: 1.2em;
$fs-xxl: 1.5em;

/* colors */
$clr1: #FBFBFB;
$clr2: #333333;
$clr3: #E1E1E1;
$clr4: #555555;
$clr5: #666666;
$clr6: #DDDDDD;
$clr7: #F1F1F1;

/* spacings */
$sp: 20px;
$sp-sm: $sp / 2;
$sp-xs: $sp / 3;

/* sizes */
$btn-size: 48px;