<header class="header">
  <div class="header-brand-container">
    <h1 class="header-brand">Tactic</h1>
    <h2 class="header-brand-user">@ louis</h2>
  </div>

  <nav class="header-nav">
    <section class="header-nav-section">
      <a class="header-nav-section-title header-nav-section-week touch">
        This week
      </a>
      <div class="header-nav-section-content">
        <section class="header-nav-sub">
          <h3 class="header-nav-sub-title">Me</h3>
          <ul  class="header-nav-sub-list">
            <li class="header-nav-sub-item">
              <span class="header-nav-sub-item-label">Tactic</span>
              <span class="header-nav-sub-item-duration">2:40:12</span>
            </li>
            <li class="header-nav-sub-item">
              <span class="header-nav-sub-item-label">Silverbreeze</span>
              <span class="header-nav-sub-item-duration">0:16:15</span>
            </li>
            <li class="header-nav-sub-item">
              <span class="header-nav-sub-item-label header-nav-sub-item-total">Total</span>
              <span class="header-nav-sub-item-duration">2:56:27</span>
            </li>
          </ul>
        </section>
        <section class="header-nav-sub">
          <h3 class="header-nav-sub-title">Everyone</h3>
          <ul  class="header-nav-sub-list">
            <li class="header-nav-sub-item">
              <span class="header-nav-sub-item-label">Tactic</span>
              <span class="header-nav-sub-item-duration">4:52:12</span>
            </li>
            <li class="header-nav-sub-item">
              <span class="header-nav-sub-item-label">Silverbreeze</span>
              <span class="header-nav-sub-item-duration">0:16:15</span>
            </li>
            <li class="header-nav-sub-item">
              <span class="header-nav-sub-item-label header-nav-sub-item-total">Total</span>
              <span class="header-nav-sub-item-duration">5:08:27</span>
            </li>
          </ul>
        </section>
      </div>
    </section>
    <section class="header-nav-section">
      <a class="header-nav-section-title touch">
        Timer
      </a>
    </section>
    <section class="header-nav-section">
      <a class="header-nav-section-title touch">
        Reviews
      </a>
    </section>
  </nav>
</header>

<div class="app-content">
  {{outlet}}
</div>
