<section class="entry-create-container no-print">
  {{create-entry
    entry=model.newEntry
    stateManager=newEntryStateManager
    startTimer=(action "startTimer")
    stopTimer=(action "stopTimer")
    searchProjects=(action "searchProjects")
    didUpdateEntry=(action "didUpdateNewEntry")
    retrySaveEntry=(action "retrySaveNewEntry")
  }}
</section>
{{entries-by-day
  list=model.entryList
  willUpdateEntry=(action "willUpdateEntry")
  didUpdateEntry=(action "didUpdateEntry")
  willDeleteEntry=(action "willDeleteEntry")
  didDeleteEntry=(action "didDeleteEntry")
  didRevertEntry=(action "didRevertEntry")
  searchProjects=(action "searchProjects")
  restartEntry=(action "restartEntry")
}}
