<section class="entry-create-container no-print">
  {{create-entry
    entry=model.newEntry
    startTimer=(action "startTimer")
    stopTimer=(action "stopTimer")
    searchProjects=(action "searchProjects")
    didUpdateEntry=(action "didUpdateNewEntry")
  }}
</section>
{{entries-by-day
  list=model.entryList
  didDeleteEntry=(action "didDeleteEntry")
  didUpdateEntry=(action "didUpdateEntry")
  searchProjects=(action "searchProjects")
}}
