<section class="entry-group-list">
  {{#each entriesByDay as |group|}}
    <section class="entry-group it-entry-group">
      <header class="entry-group-header">
        <h2 class="entry-group-header-title" title={{moment-format group.day "YYYY-MM-DD"}}>{{entry-group-day group.day}}</h2>
        <div class="entry-group-header-duration it-entry-group-duration">{{format-duration group.durationInSeconds}}</div>
      </header>
      <ul class="entry-group-item-list">
        {{#each group.entries as |entry|}}
          {{show-entry entry=entry saveEntry=(action "saveEntry") deleteEntry=(action "deleteEntry")}}
        {{/each}}
      </ul>
    </section>
  {{/each}}
</section>
