<section class="entry-create-container">
  {{create-entry
    entry=newEntry
    didCreateEntry=(action "didCreateEntry")
    searchProjects=(action "searchProjects")
  }}
</section>
{{entries-by-day
  list=model
  didDeleteEntry=(action "didDeleteEntry")
  didUpdateEntry=(action "didUpdateEntry")
  searchProjects=(action "searchProjects")
}}
