<section class="login">
  <h1 class="login-title">Who are you ?</h1>
  <ul class="login-list">
    {{#each model as |user|}}
      <li>
        <a {{action "logIn" user}} class="login-item touch it-select-user">
          @ {{user.name}}
        </a>
      </li>
    {{/each}}
  </ul>
</section>
